header{
margin-top: -5.7rem;
z-index: 1;
}

.front_img{
position: relative;
text-align: center;
margin-top: 5.7rem;
 z-index: -1;
}

.front_img h1{
    color: #FBFBFF;
    position: absolute;
    bottom: 1rem;
    right: 5rem;;
    font-size: 4rem;
    text-shadow: 5px 5px 10px black;
    padding-left: 5rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > a {
  width: 20rem;
  margin-left:-1.9rem;
  margin-right: -1.9rem;
  margin-bottom: -.05rem;;
  padding:0;
}

.start{
    margin-top: -3rem;
}

.body{
    padding-left: 5rem;
    padding-right: 5rem;
}

@media (max-width: 33rem){
    .front_img h1{
        font-size: 3rem; 
    }
}

@media (max-width: 25rem){
    .front_img h1{
        font-size: 2.3rem; 
    }
}

