/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
header{
  background-color: #262C68;
  color: #FBFBFF;
  font-family: Futura-Bold;
  width: 100%;
  position: absolute;
  box-shadow: 0px 0px 10px black;
  padding-bottom: .7rem;
  z-index: 1;
}

.logo{
  width:80px;
  height: auto;
  margin-top: 1.5rem;
  font-size: 30px;
  font-family: Futura-Bold;
  padding-left: 2rem;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.body{
  padding: 6rem 7rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h1 {
  margin-top: 1rem;
  font-size: 50px;
  font-family: BebasNeue;
}

h2 {
  font-size: 35px;
  font-family: Futura-Bold;
}

h3{
  font-size: 25px;
  text-transform: uppercase;
}

h4{
  font-size: 20px;
  font-family: Futura-Bold;
  color: #d5d5d5;
}

p, li{
  margin-top: 0;
  font-size: 18px;
}

nav{
  padding-left:  .7rem;
  text-align: right;

  /* https://stackoverflow.com/questions/29504632/how-to-align-an-image-side-by-side-with-a-heading-element */
  display: inline;
  font-size: 16px;
}

.navlink{
  color: #d5d5d5;
  margin-left: 2.5rem;
  text-transform: uppercase;
}

.navlink:hover, .navlink:focus {
  color: #FBFBFF;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

a{
  text-decoration: none;
}

.intext{
  color: #657ED4;
}

.intext:hover, .intext:focus{
  color: #00007A;
}

label{
  display: block;
  margin-bottom: .5rem;
  font-size: 1.13rem;
}

.bgimg{
  width: 100%;
  height: auto;
}


/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */
.container{
  text-align: center;
  position: relative;
}

.container .imglink{
  transition-property: filter; 
  transition-duration: 1s;
  width: 80%;
}

/* https://www.w3schools.com/cssref/playit.asp?filename=playcss_filter&preval=blur(5px) */
.container:hover .imglink, .container:focus .imglink{
  filter: blur(5px) brightness(70%);
}

.container .textimg{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition-property: opacity; 
  transition-duration: 1s;
  color: #FBFBFF;
}

.container:hover .textimg, .container:focus .textimg{
  opacity: 100;
}

h1, h2, p{
  color: #242038;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.start{
  margin-top: 6rem;
}

button{
  display: inline-block;
  padding: .7rem 2rem;
  background-color: #657ED4;
  text-decoration: none;
  box-shadow: 5px 5px 10px grey;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

button h4{
  padding: 0;
  margin: 0;
  transition-property: background-color, color; 
  transition-duration: 0.5s;
}

button:hover, button:focus{
  background-color: #262C68;
}

button:hover h5, button:focus h5{
  color: #FBFBFF;
}

input{
  border-radius: 3px;
}

.first_payment[type="radio"]{
  margin-left:  0;
}

/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/

ul{
  list-style: none;
  padding-left:0;
  padding-bottom: 1rem;
}

.item{
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom-width: 0.05rem;
  border-bottom-style: dashed;
  border-bottom-color: rgb(100);
  width: 100%;
}

.product{
  padding-left: 2rem;
}

.box{
  background-color: #FBFBFB;
  border: 5px solid #BEBBBB;
  border-radius: 3px;
  padding-top: 50px;
  padding-bottom: 6rem;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 10px 10px 20px grey;
  margin-top: 5rem;
}

.payment_box{
  background-color: #FBFBFB;
  border: 5px solid #BEBBBB;
  border-radius: 3px;
  padding-top: 50px;
  padding-bottom: 6rem;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 5rem;
  box-shadow: 10px 10px 20px grey;
  width: 50%;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
}

.payment_box p{
    margin-left: 0;
}

.flex-container { 
  display: flex; 
  flex-wrap: wrap; 
} 
 
.flex-container > p { 
  width: 40%; 
  margin-bottom: .5rem; 
  margin-right: 3rem;
  padding:0; 
} 

h3 .box_title{
  margin-top: 0; 
  padding-bottom: .5rem;
  font-size: 1.5rem;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: rgb(200);
}

.box_button{
  margin-top: 1rem;
  float: right;
}

.text_box{
  width: 100%;
  padding: 5px 5px 5px 5px;
  background-color: white;
}

.product_list table, .product_list th, .product_list td{
  border-bottom-width: .1rem;
  border-bottom-style:solid;
  border-bottom-color: rgb(100);
  border-collapse: collapse;
}

.product_item{
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.total td{
  font-weight: bold;
  }


table{
  width: 100%;
}

.box td{
  padding: 1rem 4rem;
  
}

.item td, .total td{
  width: 33%;
  padding: 0;
}

.product_list td{
  width: 25%;
  padding: 1rem;
}

.total td{
  border-top-width: 0.05rem;
  border-top-style: dashed;
  border-top-color: rgb(100);
  padding-top: 2rem;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.price{
  text-align: right;
}

.list_img{
  height: 5rem;
  width: auto;
}

.check_img{
  width: 7rem;
  height: auto;
}

.box p{
  padding-bottom: 1rem;
}


/*
  BRAND COMPONENTS  -------------------------
*/

.font1{
  font-family: Arial, Helvetica, sans-serif;
}

/*
recieved from https://www.dafontfree.net/freefonts-futura-f30.htm
*/
@font-face {
font-family: Futura-Bold;
src: url('fonts/unicode.futurab-webfont.woff2') format('woff2'),
     url('fonts/unicode.futurab-webfont.woff') format('woff');
font-style: normal;
}

/*  https://www.dafont.com/bebas-neue.font  */
@font-face {
font-family: BebasNeue;
src: url('fonts/bebasneue-regular-webfont.woff2') format('woff2'),
     url('fonts/bebasneue-regular-webfont.woff') format('woff');
font-style: normal;
}

.font1{
  font-family: BebasNeue;
}

.font2{
  font-family: Futura-Bold;
}

.font1, .font2, .font3{
  font-size: 25px;
}

.img_font{
  width: 30%;
  height: auto;
}

tr{
  padding: 1rem;
  height: 7rem;
}

.color1{
  background-color: #242038;
}

.color2{
  background-color: #262C68;
}

.color3{
  background-color: #657ED4;
}

.color4{
  background-color: #BEBBBB;
}

.color5{
  background-color: #FFFDD6;
} 

.color6{
  background-color: #FBFBFF;
}


footer{
  background-color: #BEBBBB;
  padding-top: 2rem;
  position: absolute;
  width: 100%;
  height: 40%;

}

footer h1{
  color: #FBFBFF;
  padding-left:  2.5rem;
}

li{
  padding-bottom: 1rem;
}

ul.dot {
  list-style-type: square;
   margin-left: 35px;
   font-size: 9px;
   font-weight: lighter;
}

#contact p{
 margin-left: 100px;
}

#contact h2{
 margin-top : 0px;
 margin-bottom : 20px;
 margin-left: 50px;
}

.about {
  font-weight: lighter;
  margin : 1rem;
  padding-bottom: 1rem;
  line-height: 1.5em;
  position: relative;
}

.about_div{
    display: inline;
}

.contactWay {
  line-height: 2em;
}

.events {
  margin-top: 2rem;
  line-height: 1.5em;
}

.sale_img{
   width: 100%;
   height: auto;
   margin-top: 2rem;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:0;
    height:0;   
}
.map-responsive iframe{
    right: 0;
    top: 0;
    height:100%;
    width:50%;
    position:absolute;
}

.about_img{
    width: 50%;
    float: left;
    margin-right: 2rem; 
    margin-bottom: 2rem; 
}

@media (max-width: 76rem){
  .flex-container > p { 
    width:100%; 
  } 
}

@media (max-width: 56rem){
    .payment_box, .box{
        padding: 1.5rem;
        padding-bottom: 5rem;
    }
}

@media (max-width: 50rem){
    .map-responsive{
    padding-bottom: 70%;
    margin-top: 3rem;
    position: relative;
}
.map-responsive iframe{
    height:100%;
    width:100%;
}
.about_img{
    width: 100%;
    float: left;
    margin-right: 0; 
    margin-bottom: 2rem; 
}

}

@media (max-width: 33rem){
    .map-responsive{
    margin-top: 1rem;

  .product_list td{
     display: block;
  }

  .product_list table, .product_list th, .product_list td{
      border: none;
}

  .product_list td{
      width: 100%;
      text-align: center;
  }

  .right{
      text-align: left;
  }

  .check_img{
      margin: 0;
  }
}




