.element{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.box{
   box-shadow: none;
}

.flex-container { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
} 
 
.flex-container > div { 
  width: 30rem;
  margin: 0 2rem;
  margin-bottom: -.2rem; 
  padding:0; 
} 

.flex-container img{
    width: 30rem;
    margin-bottom: 3rem;
    padding-right: 5rem;
    horizontal-align: middle;
    padding-top: 10rem;
}

.flex-container .box{
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding: 3rem;
}

.buy{
    text-align: center;
    margin-top: 4rem;
}

.review, .element{
    display: inline-block;
    width: 100%;
}

.review{
    margin-top: 1rem; 
}

.review_box{
    margin-top: 5rem;
    padding-bottom: 8rem;
}

.rating {
  float: left;
  direction: rtl;
  font-size: 3rem;
  display: block;
  margin-left: -1rem;
}

.rating > span{
  display: inline-block;
  width: 1.1em;
  position: relative;
  color: orange;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating input{
    display: none;
}

.rating label{
    font-size: 3rem;
}

#star1:checked{
    content: "\2605";
  }

.comment_section, .comment_section textarea{
    display: block;
    margin-top: 10rem;
}

.comment_section textarea{
    width: 100%;
    resize: none;
}

.review_box button{
    float: right;
    margin-top: 1rem;
}

.comment_label{
    display: block;
    float: left;
}


@media (max-width: 85.8rem){
    .flex-container img{
    padding-top: 0;
    }
}

@media (max-width: 56rem){
    .flex-container img{
        width: 100%;
    }

    .rating, .rating label{
    font-size: 2.7rem;
}
    h2{
        font-size: 30px;
    }
    
    h3{
        font-size: 20px;
    }

    p{
        font-size: 14px;
        }

    h4{
        font-size: 13px;
    }

    .flex-container .box{
        padding: 1.5rem;
    }

    .review_box{
        padding: 1.5rem;
        padding-bottom: 5rem;
    }

    .review_box p{
        margin-top: -4rem;
    }

    .buy{
        margin-top: 0;
    }

    .rating{
    }

    .rating, .rating label{
        font-size: 2rem;
    }
}
